html {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgba(190, 190, 190, 0.541);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  caption {
    padding: 10px;
  }

table td { 
    width: 200px;
}

table {
    border-spacing: 20px 0;
    border-collapse: separate;
}